{% extends 'base.html' %}

{% block content %}

<h2>Add Application</h2>

<form action="/add" method="POST" class="form-card">
    <input type="text" name="company" placeholder="Company name" required>

    <input type="text" name="role" placeholder="Role / Position" required>

    <input type="date" name="date" required>

    <select name="status">
        <option>Applied</option>
        <option>Interview</option>
        <option>Rejected</option>
        <option>Selected</option>
    </select>

    <textarea name="notes" placeholder="Notes (Optional)"></textarea>

    <button type="submit">Add</button>
</form>

<h2>Applications</h2>

<table>
    <tr>
        <th>Company</th>
        <th>Role</th>
        <th>Date</th>
        <th>Status</th>
        <th>Notes</th>
        <th>Actions</th>
    </tr>

    {% for a in apps %}
    <tr>
        <td>{{ a[1] }}</td>
        <td>{{ a[2] }}</td>
        <td>{{ a[3] }}</td>
        <td>
            <span class="badge {{ a[4]|lower }}">
                {{ a[4] }}
            </span>
        </td>
        <td>{{ a[5] }}</td>
        <td>
            <a href="/edit/{{ a[0] }}">Edit</a> |
            <a href="/delete/{{ a[0] }}"
               onclick="return confirm('Delete this application?')">
                Delete
            </a>
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}